---
import PostViewTitle from "@/components/PostViewTitle.astro";
import getUrl from "@/utils/getUrl";
const { blog } = Astro.props;
const { data, slug } = blog;
---

<style>
  .article {
    margin-bottom: 10px;
    padding: 10px;
  }
</style>
<div class="article bd-solid-1">
  <PostViewTitle slug={getUrl("/blog/") + slug} {...data} />
  <p class="break-all">
    {data.description ? data.description : ""}
  </p>
</div>
<!-- <div class="divider-horizontal-mini"></div> -->
